<!DOCTYPE html>
<html>
<head>
    <title>Simple Website</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="introduction">
        <h1>Welcome to Hobbyist</h1>
    </div>
    
    <input id="addbox" type="text" class="textbox" placeholder="Add Hobby...">
    <button id="add-button" class="add-button" onclick="addHobby()">Add</button>

    <button id="showMyMusicButton" class="button" onclick="showMyMusicButton()">My Music</button>

    <button id="findSimilarMusicButton" class="button" onclick="findSimilarMusicButton()">Find Similar Music</button>

    <button id="newSimilarMusicButton" class="button" onclick="findSimilarMusic()">New Similar Music</button>

    <ul class="list" id="mySongsList"></ul>

    <ul class="list" id="songList"></ul>

    <ul class="list" id="similarMusicResult"><li id="loadingIcon" class="loadingIcon" style="display: none;"></li></ul>

        <div class="slider">
            <p>Similarity Sensitivity</p>
            <input id="similarity-weight" type="range" min="0" max="100" value="0" oninput="rangeValue1.innerText = this.value">
            <p id="rangeValue1">0</p>
        </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/index.js" defer></script>
</body>


</html>
