<!DOCTYPE html>
<html>
<head>
    <title>Simple Website</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="introduction">
        <h1>Welcome to Hobbyist</h1>
    </div>
    
    <input id="addbox" type="text" class="textbox" placeholder="Add Hobby...">
    <button id="add-button" class="add-button" onclick="addHobby()">Add</button>

    <button id="showMyMusicButton" class="button" onclick="showMyMusicButton()">My Music</button>

    <button id="findSimilarMusicButton" class="button" onclick="findSimilarMusicButton()">Find Similar Music</button>

    <button id="newSimilarMusicButton" class="button" onclick="findSimilarMusic()">New Similar Music</button>

    <ul class="list" id="mySongsList"></ul>

    <ul class="list" id="songList"></ul>

    <ul class="list" id="similarMusicResult"></ul>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/index.js" defer></script>
</body>


</html>
