<!DOCTYPE html>
<html>
<head>
    <title>Simple Website</title>
</head>
<body>
    <h1>Welcome to the Simple Website</h1>
    
    <button id="button1">Button 1</button>
    <button id="button2">Button 2</button>
    <button id="button3">Button 3</button>

    <script>
        // JavaScript code for button click event handling
        document.getElementById("button1").addEventListener("click", function() {
            alert("Button 1 clicked!");
        });

        document.getElementById("button2").addEventListener("click", function() {
            alert("Button 2 clicked!");
        });

        document.getElementById("button3").addEventListener("click", function() {
            alert("Button 3 clicked!");
        });
    </script>
</body>
</html>
